@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: Josefin Sans; }

html {
  font-size: 62.5%; }

.header-principal .informacion {
  padding: 5px 0px;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 2rem;
  font-weight: 200;
  color: white;
  text-align: center;
  background-color: #3D5859; }

.header-principal .container-fluid .navbar .navbar-brand img {
  width: 180; }

.header-principal .container-fluid .menu-principal .navbar-nav .nav-link {
  color: black;
  font-family: Josefin Sans;
  font-weight: 200;
  font-size: 20rem; }

.portada {
  text-align: center;
  padding-top: 20px;
  font-family: Josefin Sans; }
  .portada .titulo-portada {
    font-weight: 400;
    font-size: 2.7rem;
    text-decoration: none;
    color: black; }
  .portada .texto-portada {
    color: black;
    font-family: Josefin Sans;
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 20px; }

.contenidoPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Josefin Sans, sans-serif; }
  .contenidoPrincipal h3 {
    font-family: Josefin Sans, sans-serif;
    font-size: 2.4rem;
    font-weight: 400; }
  .contenidoPrincipal .textoFibras {
    background-image: url(../img/textura-bamboo.jpg);
    background-position: center;
    padding: 20px;
    font-size: 1.6rem;
    font-weight: 300;
    color: black; }
  .contenidoPrincipal .textoEspacios {
    background-image: url(../img/espacio-inspiracion.jpg);
    background-position: center;
    padding: 20px;
    font-size: 1.6rem;
    font-weight: 300;
    color: black; }
  .contenidoPrincipal .textoPromociones {
    background-image: url(../img/lampara-bamboo.jpg);
    background-position: center;
    padding: 20px;
    font-size: 1.6rem;
    font-weight: 300;
    color: black; }
    .contenidoPrincipal .textoPromociones a {
      font-size: 2.4rem;
      font-weight: 300;
      text-decoration: none;
      color: black; }

.body-promo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "encabezado encabezado encabezado encabezado" "gift carousel carousel carousel" "plain plain plain plain" "section-promo section-promo section-promo section-promo" "pie pie pie pie";
  grid-row-gap: 10px;
  grid-row-gap: 6px;
  height: 100vh; }
  .body-promo .header-grid {
    grid-area: encabezado; }
  .body-promo .section-gift {
    grid-area: gift;
    background-color: #BFBD9F;
    font-size: 1.8rem;
    font-weight: 200;
    margin-right: 6px;
    padding: 6%; }
    .body-promo .section-gift h3 {
      font-size: 3rem; }
    .body-promo .section-gift h4 {
      font-size: 6rem;
      padding-bottom: 10px; }
    .body-promo .section-gift p {
      padding-top: 40px;
      padding-bottom: 40px; }
    .body-promo .section-gift .btn-gift {
      font-size: 2rem;
      border: black;
      color: #720f54;
      background-color: #F3F3EF;
      width: 10rem;
      height: 4rem;
      border-radius: 20px; }
  .body-promo .carousel-promo {
    grid-area: carousel; }
  .body-promo .descuentos-promo {
    grid-area: plain;
    background-color: #bb8e7d;
    margin: 10px 0px; }
    .body-promo .descuentos-promo h3 {
      font-size: 2.5rem;
      color: #F3F3EF;
      text-align: center;
      margin: 20px 0px;
      font-weight: 200; }

.container-fluid .container-nosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center; }
  .container-fluid .container-nosotros .imagen-arq {
    padding: 20px; }
  .container-fluid .container-nosotros .intro h3 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 400;
    padding: 40px 70px; }
  .container-fluid .container-nosotros .intro div {
    padding-left: 50px; }
  .container-fluid .container-nosotros .intro div {
    padding: 30px 30px; }
    .container-fluid .container-nosotros .intro div p {
      text-align: justify;
      font-size: 1.8rem;
      font-weight: 200;
      padding-right: 20px; }

.bg-taupe {
  background-color: #BFBD9F;
  margin: 0; }

.btn-store {
  width: 200px;
  height: 30px;
  font-size: 1.5rem;
  border: solid;
  border-width: 1px;
  border-radius: 1rem;
  color: #3D5859; }

.btn-ver {
  border: solid;
  border-width: 1px;
  border-radius: 1rem;
  color: #3D5859;
  cursor: pointer;
  transform: translateX(90px);
  align-self: flex-end;
  font-size: 1.5rem; }

.textM {
  font-size: 1.8rem;
  font-weight: 200; }

.titulo-tarjeta {
  font-weight: 400; }

.titulo-featurette {
  font-size: 2.4rem;
  text-decoration: none; }

.descripcion-featurette {
  font-size: 1.8rem;
  text-decoration: none;
  text-shadow: none; }

.text-taupe {
  color: #BFBD9F;
  font-weight: 200;
  font-size: 2rem;
  text-decoration: none;
  text-shadow: none; }

.section-promo {
  grid-area: section-promo;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .section-promo .card-promo {
    margin: 4px 10px; }
  .section-promo .card-body .card-title {
    font-size: 1.6rem; }
  .section-promo .card-body .card-text {
    font-size: 1.4rem;
    font-weight: 200;
    text-align: center; }
  .section-promo .card .text-crossout {
    text-decoration: line-through; }

.seccion-proyectos .accordion .boton-prueba {
  font-size: 1.8rem; }

.seccion-proyectos {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  padding: 5rem;
  font-weight: 300;
  font-size: 1.7rem;
  height: 70%; }
  .seccion-proyectos .container-linea h3 {
    font-size: 3rem; }

.zocalo {
  background-color: #A49E8E;
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  height: 60px;
  padding-left: 20px; }
  .zocalo h4 {
    color: #FAF7FB;
    font-family: Josefin Sans, sans-serif;
    font-weight: 200;
    padding-right: 30px;
    font-size: 2rem; }
  .zocalo .zocaloRedes a {
    padding-right: 10px; }

.zocalo-promo {
  grid-area: pie; }

@media screen and (max-width: 1024px) {
  .body-promo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "encabezado encabezado" "gift gift" "carousel carousel" "plain plain" "section-promo section-promo" "section-promo section-promo" "pie pie";
    grid-row-gap: 10px;
    grid-row-gap: 6px; }
  .section-gift {
    margin: 0px; }
  .section-promo {
    flex-wrap: wrap; }
  .card-promo {
    margin: 10px 4px; }
  .descuentos-promo {
    background-color: #3D5859; }
  .descuentos-promo h3 {
    color: white;
    font-size: 2rem; } }

@media screen and (max-width: 600px) {
  .body-promo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "encabezado encabezado" "gift gift" "carousel carousel" "plain plain" "section-promo section-promo" "section-promo section-promo" "pie pie";
    grid-row-gap: 10px;
    grid-row-gap: 6px; }
  .informacion {
    font-size: 1.5rem; }
  .section-gift {
    margin: 0px; }
  .section-promo {
    flex-wrap: wrap; }
  .card-promo {
    margin: 10px 4px; }
  .descuentos-promo {
    background-color: #3D5859; }
  .descuentos-promo h3 {
    color: white;
    font-size: 2rem; } }

@media screen and (max-width: 320px) {
  .body-promo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "encabezado encabezado" "gift gift" "carousel carousel" "plain plain" "section-promo section-promo" "section-promo section-promo" "pie pie";
    grid-row-gap: 10px;
    grid-row-gap: 6px; }
  .informacion {
    font-size: 1.5rem; }
  .section-gift {
    margin: 0px; }
  .section-gift h3 {
    font-size: 2rem; }
  .section-gift h4 {
    font-size: 3rem; }
  .section-gift p {
    font-size: 1.2rem; }
  .section-promo {
    flex-wrap: wrap; }
  .card-promo {
    margin: 10px 4px; }
  .descuentos-promo {
    background-color: #3D5859; }
  .descuentos-promo h3 {
    color: white;
    font-size: 1.4rem;
    margin: 10px; }
  .zocalo {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "datos" "redes"; }
  .zocalo {
    background-color: #A49E8E; }
  .zocalo h4 {
    grid-area: datos;
    text-align: center;
    padding-top: 10px; }
  .zocalo .zocaloRedes {
    grid-area: redes; }
  .zocalo h4 {
    font-size: 1.4rem; } }
